.card-body {
padding: 40px 20px;
}
.wrap-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: rgb(219, 219, 219);
  background: url(./img/bg1.png) rgba(206, 199, 203, 0.3);
  background-size: contain;
  background-blend-mode: multiply;
}
.wrap-cont-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.wrap-cont-content .childs {
  transition: box-shadow 0.3s;
}

.wrap-cont-content .childs:hover {
  animation: growAndMove 0.3s forwards;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

@keyframes growAndMove {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05) translateY(-20px);
  }
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .wrap-cont-content {
    flex-direction: column;
  }
}




.link {
   
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    
  }
  .link-title{
    color: blue;
  }
  .link:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .link:hover {
   background-position: 0;
  }
  
  .link:hover::before{
    width: 100%;
  }
  .card-img-top{
    height: 200px;
  }