._container{
    margin-top: 40px;
}   
.card-tech{
    background-color: #a6a6a68b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(173, 173, 173, 0.329);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.card-tech .card-tech-img{
    width: 100%;
    height: 200px;
    position: relative;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-tech .card-tech-head{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #868686;
    letter-spacing: 1px;
}
.card-tech .txt1-tech,.card-tech .txt2-tech{
    color: black;
    word-spacing: 3px;
    font-weight: 400;
    width: 100%;
    padding: 0px 10px;
    font-size: 14px;
    text-align: justify;
}
.card-tech .card-tech-btn{
    padding: 5px;
    width: 200px;
    border-radius: 10px;
}